@charset "UTF-8";
/* Обнуляем все параметры у всех тегов */
@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Применение box-sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* Делаем некоторые теги блочными */
nav, footer, header, aside {
  display: block;
}

/* Уравниваем поведение шрифтов и элементов для разных браузеров, в том числе, запрещаем увеличение шрифта самовольно, например, на iphone  */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Просим теги формы наследовать семейство шрифта от родителя (т.к. по умолчанию эти теги не унаследуют семейство шрифта)  */
input, button, textarea {
  font-family: inherit;
}

/* Добавляем/убираем некоторым тегам особенности в разных браузерах */
input::-ms-clear {
  display: none;
} /* Убираем крестик в браузере IE в поле ввода input*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ---------   Обнуление завершили ----------- */
body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: #16d9e3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background-image: linear-gradient(91.2deg, rgb(136, 80, 226) 4%, rgb(16, 13, 91) 96.5%);
}
.screen-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.primary {
  color: #16d9e3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 480px;
  height: 480px;
  background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.restart {
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  transition: all 0.3s 0.5s;
}
.restart:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
  transition: all 0s 0s;
}

i {
  position: absolute;
  right: 100px;
  top: 60px;
  font-size: 30px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */